
    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <!-- HEADER -->
    <header class="type-1">
        <div class="header-wrapper">
            <a id="logo" href="index.html"><img src="<%= image_path 'logo_m.png'%>" alt="" /></a>
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="follow style-1">
                <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    
                    </li>
                    <li>
                        <a href="about.html" style="font-family:godic">우정스마트베이</a>

                    </li>
                    <li><a href="floor.html" style="font-family:godic">층별안내</a></li>
                    
                    <li>
                        <a href="contact.html" style="font-family:godic">관심고객 등록문의</a>
                       
                    </li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-block">

        <div class="swiper-entry slider-1">
            <div class="swiper-container full-screen-height" data-direction="vertical" data-parallax="1" data-mousewheel="1" data-speed="1000">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
                <!-- step 1 -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                        <div class="leftside">
                            <div class="sl right-align">The Center of Success, The CEO's Pride</div>
                            <div class="leftside-middle valign-middle">
                                <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(img/background-1.jpg);" data-swiper-parallax-y="-100%">
                                        <div class="content" data-swiper-parallax-y="-70%">
                                            <div class="text">
                                                <div class="text-container">
                                                    <div class="align">
                                                        <div class="h3 title" style="color: #005a38;font-family: godic"><span class="ht-1"><a href="#">성공의 중심 <br>우정스마트베이</a></span></div>
                                                        <div class="sa description" style="font-family: godic">인접 특성화단지 및 5천여개 이상 <br>기업체의 배후거점 중심!<br>이제, 성공의 중심에 우뚝 서십시오</div>
                                                        <a href="contact.html" class="button" style="font-family: godic">분양 등록</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sl left-align">No.1 WooJeong SmartBay</div>
                    </div>
                    <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U1.jpg' %>" data-swiper-parallax-y="100%">
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U1.jpg' %>);"></div>
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U1.jpg' %>);"></div>
                    </a>
                    <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D1.jpg' %>" data-swiper-parallax-y="100%">
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D1.jpg' %>);"></div>
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D1.jpg' %>);"></div>
                    </a>
                </div>
                
                <!-- step 2 -->
                <div class="swiper-slide"> 
                    <div class="leftside">
                        <div class="sl right-align">Branding / Pfotoshooting</div>
                        <div class="leftside-middle valign-middle">
                            <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(img/background-1_.jpg);" data-swiper-parallax-y="-100%">
                                    <div class="content" data-swiper-parallax-y="-70%">
                                        <div class="text">
                                            <div class="text-container">
                                                <div class="align">
                                                    <div class="h3 title" style="color: orange;"><span class="ht-1"><a href="#">Beauty of Nature &amp; Humanity</a></span></div>
                                                    <div class="sa description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
                                                    <a class="button">READ MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="sl left-align">For: MONOFashion Studio</div>
                        </div>
                        <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U2.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U2.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U2.jpg' %>);"></div>
                        </a>
                        <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D2.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D2.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D2.jpg' %>);"></div>
                        </a>
                    </div>
                    
                    <!-- step 3 -->
                    <div class="swiper-slide"> 
                        <div class="leftside">
                            <div class="sl right-align">Branding / Pfotoshooting</div>
                            <div class="leftside-middle valign-middle">
                                <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(img/background-1__.jpg);" data-swiper-parallax-y="-100%">
                                    <div class="content" data-swiper-parallax-y="-70%">
                                        <div class="text">
                                            <div class="text-container">
                                                <div class="align">
                                                    <div class="h3 title" style="color: blue;"><span class="ht-1"><a href="#">Beauty of Nature &amp; Humanity</a></span></div>
                                                    <div class="sa description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
                                                    <a class="button">READ MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="sl left-align">For: MONOFashion Studio</div>
                        </div>
                        <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U3.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U3.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U3.jpg' %>);"></div>
                        </a>
                        <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D3.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D3.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D3.jpg' %>);"></div>
                        </a>
                    </div>
                    
                    <!-- step 4 -->
                    <div class="swiper-slide"> 
                        <div class="leftside">
                            <div class="sl right-align">Branding / Pfotoshooting</div>
                            <div class="leftside-middle valign-middle">
                                <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(img/background-1__.jpg);" data-swiper-parallax-y="-100%">
                                    <div class="content" data-swiper-parallax-y="-70%">
                                        <div class="text">
                                            <div class="text-container">
                                                <div class="align">
                                                    <div class="h3 title" style="color: blue;"><span class="ht-1"><a href="#">Beauty of Nature &amp; Humanity</a></span></div>
                                                    <div class="sa description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
                                                    <a class="button">READ MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="sl left-align">For: MONOFashion Studio</div>
                        </div>
                        <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U4.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U4.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U4.jpg' %>);"></div>
                        </a>
                        <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D4.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D4.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D4.jpg' %>);"></div>
                        </a>
                    </div>
                </div>
                
                
                <div class="swiper-pagination visible-xs"></div>
                <div class="swiper-pager hidden-xs">
                    <div class="swiper-pager-current">01</div>
                    <div class="swiper-pager-total">04</div>
                </div>
            </div>
        </div>

    </div>
