    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <!-- HEADER -->
    <header class="type-1">
        <div class="header-wrapper">
            <a id="logo" class="btn" href="home/index"><img src="<%= image_path 'logo_m.png'%>" alt="" /></a>
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
           
        </div>
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="home/index" class="btn">Home</a>
                    
                    </li>
                    <li>
                        <a href="home/about" class="btn" style="font-family:godic">우정스마트베이</a>

                    </li>
                    <li><a href="home/floor" class="btn" style="font-family:godic">층별안내</a></li>
                    
                    <li>
                        <a href="home/contact" class="btn" style="font-family:godic">관심고객 등록문의</a>
                       
                    </li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-block">

        <div class="swiper-entry slider-1">
            <div class="swiper-container full-screen-height" data-direction="vertical" data-parallax="1" data-mousewheel="1" data-speed="1000">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
                <!-- step 1 -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                        <div class="leftside">
                            <div class="sl right-align">The Center of Success, The CEO's Pride</div>
                            <div class="leftside-middle valign-middle">
                                <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(<%= image_path 'about/background_1.jpg'%>);" data-swiper-parallax-y="-100%">
                                        <div class="content" data-swiper-parallax-y="-70%">
                                            <div class="text">
                                                <div class="text-container">
                                                    <div class="align">
                                                        <div class="h3 title" style="color: #005a38;font-family: godic"><span class="ht-1"><a href="#">성공의 중심<br>우정스마트베이</a></span></div>
                                                        <div class="sa description" style="font-family: godic">인접 특성화단지 및 5천여개 이상 <br>기업체의 배후거점 중심!<br>이제, 성공의 중심에 우뚝 서십시오</div>
                                                        <a href="home/contact" class="button btn" style="font-family: godic">분양 문의</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sl left-align">No.1 WooJeong SmartBay</div>
                    </div>
                    <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U1.jpg' %>" data-swiper-parallax-y="100%">
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U1.jpg' %>);"></div>
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U1.jpg' %>);"></div>
                    </a>
                    <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D1.jpg' %>" data-swiper-parallax-y="100%">
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D1.jpg' %>);"></div>
                        <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D1.jpg' %>);"></div>
                    </a>
                </div>
                
                <!-- step 2 -->
                <div class="swiper-slide"> 
                    <div class="leftside">
                        <div class="sl right-align">Excellent Location</div>
                        <div class="leftside-middle valign-middle">
                            <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(<%= image_path 'about/background_2.jpg'%>);" data-swiper-parallax-y="-100%">
                                    <div class="content" data-swiper-parallax-y="-70%">
                                        <div class="text">
                                            <div class="text-container">
                                                <div class="align">
                                                    <div class="h4 title" style="color: orange; font-family:godic"><span class="ht-1"><a href="#">주요 거점 도시와 근접한<br>배후거점의 중심!</a></span></div>
                                                    <div class="sa description" style="font-family:godic">탁월한 광역 접근성과 인근 대규모의 개발단지로 이미 확보된 탄탄한 경쟁력 입니다.</div>
                                                    <a href="home/contact" class="button btn" style="font-family:godic">분양 문의</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="sl left-align">The Best, WooJeong SmartBay</div>
                        </div>
                        <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U2.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U2.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U2.jpg' %>);"></div>
                        </a>
                        <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D2.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D2.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D2.jpg' %>);"></div>
                        </a>
                    </div>
                    
                    <!-- step 3 -->
                    <div class="swiper-slide"> 
                        <div class="leftside">
                            <div class="sl right-align">Premium System</div>
                            <div class="leftside-middle valign-middle">
                                <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(<%= image_path 'about/background_3.jpg'%>);" data-swiper-parallax-y="-100%">
                                    <div class="content" data-swiper-parallax-y="-70%">
                                        <div class="text">
                                            <div class="text-container">
                                                <div class="align">
                                                    <div class="h4 title" style="color: blue;font-family:godic"><span class="ht-1"><a href="#">주차난, 물류난, 열학한 작업환경난 우정 스마트베이는 다릅니다!</a></span></div>
                                                    <div class="sa description" style="font-family:godic">제조에서 물류하역까지<br>완벽한 토탈시스템을 경험하게 됩니다.<br>우정스마트베이에서 꿈을 실현해 보십시오.</div>
                                                    <a href="home/contact" class="button btn" style="font-family:godic">분양 문의</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="sl left-align">Luxury Knowledge Industry Center</div>
                        </div>
                        <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U3.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U3.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U3.jpg' %>);"></div>
                        </a>
                        <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D3.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D3.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D3.jpg' %>);"></div>
                        </a>
                    </div>
                    
                    <!-- step 4 -->
                    <div class="swiper-slide"> 
                        <div class="leftside">
                            <div class="sl right-align">Premium System</div>
                            <div class="leftside-middle valign-middle">
                                <div class="valign-middle-content">
                                <div class="banner-frame border-image" style="border-image-source: url(<%= image_path 'about/background_4.jpg'%>);" data-swiper-parallax-y="-100%">
                                    <div class="content" data-swiper-parallax-y="-70%">
                                        <div class="text">
                                            <div class="text-container">
                                                <div class="align">
                                                    <div class="h3 title" style="color: blue; font-family:godic"><span class="ht-1"><a href="#">작업환경은 바로<br>기업의 경쟁력</a></span></div>
                                                    <div class="sa description" style="font-family:godic">각종 제조업에 최적화된<br>인텔리전트 지식산업센터 우정 스마트베이!<br>기존의 지식산업센터와 비교해 보십시오.</div>
                                                    <a href="home/contact"class="button btn" style="font-family:godic">분양 문의</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="sl left-align">Intelligent Knowledge Industry Center</div>
                        </div>
                        <a class="right-top lightbox" href="<%= image_path 'about/thumbnail_U4.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U4.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_U4.jpg' %>);"></div>
                        </a>
                        <a class="right-bottom lightbox" href="<%= image_path 'about/thumbnail_D4.jpg' %>" data-swiper-parallax-y="100%">
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D4.jpg' %>);"></div>
                            <div class="content" style="background-image: url(<%= image_path 'about/thumbnail_D4.jpg' %>);"></div>
                        </a>
                    </div>
                </div>
                
                
                <div class="swiper-pagination visible-xs"></div>
                <div class="swiper-pager hidden-xs">
                    <div class="swiper-pager-current">01</div>
                    <div class="swiper-pager-total">04</div>
                </div>
            </div>
        </div>

    </div>


<script>
 
  
</script>