    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <!-- HEADER -->
    <header class="type-3 transparent">
        <div class="header-wrapper">
            <a id="logo" href="index.html"><img src="<%= image_path 'logo_m.png' %>" alt="" /></a>
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="follow style-1">
                <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html" style="font-family: godic">우정스마트베이</a>
                    </li>
                    <li><a href="floor.html" style="font-family: godic">층별 안내</a></li>
                   
                    <li>
                        <a href="contact.html" style="font-family: godic">관심고객 등록문의</a>
                        
                    </li>
                   
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-block">

        <div class="fixed-background" style="background-image: url(<%= image_path 'floor/title.jpg' %>);">
            <div class="banner-shortcode">
                <div class="banner-frame border-image" style="border-image-source: url(<%= image_path 'floor/title_c.jpg'%>);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="align">
                                <h1 class="h1 light">The Knowledge Industry Center</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            
            
            <div class="empty-space col-xs-b60 col-sm-b120"></div>
            
            <div class="swiper-entry">
                <div class="swiper-container" data-autoplay="4000">
                    <div class="swiper-button-prev hidden"></div>
                    <div class="swiper-button-next hidden"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> 
                            <div class="text-center">
                                <img class="thumbnail-image col-xs-b20" src="<%= image_path 'floor/thumbnail_1.jpg' %>" alt="" />
                                <h6 class="h6 col-xs-b10" style="font-family: godic">Ground Floor. Efficient Space</h6>
                                <div class="sa middle" style="font-family: godic">수평, 수직 물류하역의 편의성을 선사합니다.</div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide"> 
                            <div class="text-center">
                                <img class="thumbnail-image col-xs-b20" src="<%= image_path 'floor/thumbnail_2.jpg' %>" alt="" />
                                <h6 class="h6 col-xs-b10" style="font-family: godic">2·3 Floor. Plant Zone</h6>
                                <div class="sa middle" style="font-family: godic">귀사의 성공에 힘찬 날개를 달아드립니다.</div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide"> 
                            <div class="text-center">
                                <img class="thumbnail-image col-xs-b20" src="<%= image_path 'floor/thumbnail_3.jpg' %>" alt="" />
                                <h6 class="h6 col-xs-b10" style="font-family: godic">4 Floor. Dining hall, Dormitory Zone</h6>
                                <div class="sa middle" style="font-family: godic">빌트인 시스테믜 원룸 오피스텔형 기숙사<br>발코니 (서비스면적) 추가제공으로 실면적 극대화</div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-pagination relative-pagination"></div>
                </div>
            </div>
            
            
            <div class="empty-space empty-space col-xs-b25 col-sm-b50"></div>
            <div class="row">
                
                
                <div class="col-sm-6">
                    <div class="text-center">
                        <img class="thumbnail-image col-xs-b20" src="<%= image_path 'floor/thumbnail_L.jpg' %>" alt="" />
                        <h6 class="h6 col-xs-b10" style="font-family: godic">입주자 지원</h6>
                       <!-- <div class="sa middle"></div> -->
                    </div>
                    <div class="empty-space empty-space col-xs-b25 col-sm-b50"></div>
                </div>
                
                
                <div class="col-sm-6">
                    <div class="text-center">
                        <img class="thumbnail-image col-xs-b20" src="<%= image_path 'floor/thumbnail_R.jpg' %>" alt="" />
                        <h6 class="h6 col-xs-b10" style="font-family: godic">우정 스마트베이 제원</h6>
                    <!--    <div class="sa middle"></div>  -->
                     </div>
                    <div class="empty-space empty-space col-xs-b25 col-sm-b50"></div>
                </div>
            </div>
            
            
        
            <div class="empty-space col-xs-b60 col-sm-b120"></div>
        </div>

        <div class="row m0">
            <div class="col-sm-4">
                <a class="thumbnail-shortcode-3 mouseover-1">
                    <img src="<%= image_path 'floor/thumbnail_low1.jpg'%>" alt="" />
                    <img src="<%= image_path 'floor/thumbnail_low1.jpg'%>" alt="" />
                    <span class="content">
                        <span class="sl light" style="font-family: godic">명품 지식산업센터</span>
                        <span class="title h5 light" style="font-family: godic">우정 스마트베이</span>
                    </span>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="thumbnail-shortcode-3 mouseover-1">
                    <img src="<%= image_path 'floor/thumbnail_low2.jpg'%>" alt="" />
                    <img src="<%= image_path 'floor/thumbnail_low2.jpg'%>" alt="" />
                    <span class="content">
                        <span class="sl light" style="font-family: godic">The Center of Success</span>
                        <span class="title h5 light" style="font-family: godic">The CEO's Pride</span>
                    </span>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="thumbnail-shortcode-3 mouseover-1">
                    <img src="<%= image_path 'floor/thumbnail_low3.jpg'%>" alt="" />
                    <img src="<%= image_path 'floor/thumbnail_low3.jpg'%>" alt="" />
                    <span class="content">
                        <span class="sl light" style="font-family: godic">Knowledge Industry Center</span>
                        <span class="title h5 light" style="font-family: godic">WooJeong SmartBay</span>
                    </span>
                </a>
            </div>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xs-text-center col-md-text-left">
                        <div class="copyright sa small">&copy; 2017  Knowledge Industry Center <a href="" target="_blank"><b>WooJeong SmartBay</b></a></div>  
                        <div class="col-xs-b15 visible-xs visible-sm"></div>
                    </div>
                    <div class="col-md-6 col-xs-text-center col-md-text-right">
                        <div class="follow style-1">
                            <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
