
    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <!-- HEADER -->
    <header class="type-2">
        <div class="header-wrapper">
            <a id="logo" href="index.html"><img src="<%= image_path 'logo_m.png'%>" alt="" /></a>
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="follow style-1">
                <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        
        <!-- nav bar -->
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        
                    </li>
                    <li>
                        <a href="about.html" style="font-family:godic">우정스마트베이</a>
                    
                    </li>
                    
                    <li><a href="floor.html" style="font-family:godic">층별 안내</a></li>
                    
                    <li>
                        <a href="contact.html" style="font-family:godic">관심고객 등록문의</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-block">


        <div class="full-screen-height slider-3">
            <div class="slice-slider-container">
                <div class="slice-slider-right-column">
                    <div class="slice-slider-wrapper">
                        
                        <!-- Step 1 -->
                        <div class="slice-slider-slide">
                            <div class="slice-slider-slide-left">
                                <div class="slice-align-animation scale">
                                    <div class="slice-slider-align-2">
                                        <div class="sl top" style="font-family: godic">제조형 지식산업센터의 절대 강자!</div>
                                        <div class="rotate">
                                            <div class="h2 title" style="color: #d8a87c;"><span class="ht-1"><a href="#" >WOO JEONG SMARTBAY</a></span></div>
                                        </div>
                                        <div class="preview-wrapper">
                                            <a class="preview"  style="background-image: url('<%= image_path 'index/background_L1.jpg' %>');">
                                                
                                            </a>
                                        </div>
                                        <div class="sl bottom" style="font-family: godic">아파트형 공장의 획기적인 전용률!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slice-slider-slide-right">
                                <div class="slice-align-animation parallax">
                                    <div class="slice-slider-align-1" style="background-image: url('<%= image_path 'index/background_R1.jpg' %>');"></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Step 2 -->
                        <div class="slice-slider-slide">
                            <div class="slice-slider-slide-left">
                                <div class="slice-align-animation scale">
                                    <div class="slice-slider-align-2">
                                        <div class="sl top" style="font-family: godic">WooJeong SmartBay</div>
                                        <div class="rotate">
                                            <div class="h2 title" style="color: #d8a87c;"><span class="ht-1"><a href="#">Knowledge Industry Center</a></span></div>
                                        </div>
                                        <div class="preview-wrapper">
                                            <a class="preview" href="#" style="background-image: url('<%= image_path 'index/background_L2.jpg' %>');">

                                            </a>
                                        </div>
                                        <div class="sl bottom" style="font-family: godic">층고 최소 7m 이상!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slice-slider-slide-right">
                                <div class="slice-align-animation parallax">
                                    <div class="slice-slider-align-1" style="background-image: url('<%= image_path 'index/background_R2.jpg' %>');"></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Step 3 -->
                        <div class="slice-slider-slide">
                            <div class="slice-slider-slide-left">
                                <div class="slice-align-animation scale">
                                    <div class="slice-slider-align-2">
                                        <div class="sl top" style="font-family: godic">No.1 WooJeong</div>
                                        <div class="rotate">
                                            <div class="h2 title" style="color: #d8a87c;"><span class="ht-1"><a href="#">WOO JEONG SMARTBAY</a></span></div>
                                        </div>
                                        <div class="preview-wrapper">
                                            <a class="preview" href="#" style="background-image: url('<%= image_path 'index/background_L3.jpg' %>');">
                                            
                                            </a>
                                        </div>
                                        <div class="sl bottom" style="font-family: godic">중도금 전액 무이자!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slice-slider-slide-right">
                                <div class="slice-align-animation parallax">
                                    <div class="slice-slider-align-1" style="background-image: url('<%= image_path 'index/background_R3.jpg' %>');"></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Step 4 -->
                        <div class="slice-slider-slide">
                            <div class="slice-slider-slide-left">
                                <div class="slice-align-animation scale">
                                    <div class="slice-slider-align-2">
                                        <div class="sl top" style="font-family: godic">국내 최저 분양가!!</div>
                                        <div class="rotate">
                                            <div class="h2 title" style="color: #d8a87c;"><span class="ht-1"><a href="#">Knowledge Industry Center</a></span></div>
                                        </div>
                                        <div class="preview-wrapper">
                                            <a class="preview" href="#" style="background-image: url('<%= image_path 'index/background_L4.jpg' %>');">
                                                <span class="hover-icon">
                                                    <span class="content"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="sl bottom" style="font-family: godic">300만원대 초반부터</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slice-slider-slide-right">
                                <div class="slice-align-animation parallax">
                                    <div class="slice-slider-align-1" style="background-image: url('<%= image_path 'index/background_R4.jpg' %>');"></div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        

        <!-- FOOTER -->
        <footer class="type-1">
            <div class="container-fluid">
                <div class="col-xs-text-center col-md-text-left">
                    <div class="copyright sa small">&copy;  2017 Knowledge Industry Center <a href="" target="_blank"><b>WooJeong SmartBay</b></a></div>
                    <div class="col-xs-b15 visible-xs visible-sm"></div>
                    <div class="follow style-1">
                        <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="phone-marker visible-xs"></div><div class="tablet-marker visible-sm"></div>


<!-- Script Part -->
<script>
    $(function(){
        $('.slice-slider-container').sliceSlider({
            speed: 1000
        });
    });
</script>

